.header {
  grid-area: header;
  background: linear-gradient(to right, #f4f3f3, #01102b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  display: inline-block;
  padding: clamp(12px, 4vw, 24px);
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;

  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Glassmorphism */
.glassmorphism {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Neumorphism (Project Cards) */
.neumorphism {
  background: #f0f0f0; /* Soft light gray background */
  border-radius: 12px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1),
    -8px -8px 15px rgba(255, 255, 255, 0.7); /* Soft, inset shadow */
  transition: box-shadow 0.3s ease;
}

.neumorphism:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.9); /* Shadow on hover */
}

/* Light Mode (Default) */
[data-theme="light"] {
  --bg: #f9f9f9;
  --text: #111;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg: #111;
  --text: #f9f9f9;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Arial", sans-serif;
  transition: all 0.3s ease-in-out;
}

/* Footer */
footer {
  background-color: var(--bg);
  color: var(--text);
  padding: 20px;
  text-align: center;
  font-size: clamp(5vp, 14px, 10vp);
}
